<footer class='footer'>
  <nav class='nav-col'>
    <p class='footer-heading'>Company</p>
    <ul class='footer-nav m-5'>
      <li><a class='footer-link' href='/'>Home</a></li>
      <li><a class='footer-link' href='#'>About Us</a></li>
      <li><a class='footer-link' href='#'>Privacy & Terms</a></li>
    </ul>
  </nav>
  <div></div>
  <div class='logo-col'>
    <a href='#' class='footer-logo'>
      <h4 class='m-l-5'>BookStore</h4>
    </a>
    <p class='copyright m-5'>
      Copyright &copy;
      <span class='year'>2023, All rights reserved.</span>
      <p class='address m-5'>
        Mid-Baneshwor-10, Kathmandu
      </p>

    </p>

  </div>
</footer>