<footer class='footer'>
  <div class='f-space-between'>
    <div class='logo-col'>
      <a href='#' class='footer-logo'>
        <h4 class='m-l-5'>BookStore</h4>
      </a>
      <p class='copyright m-5'>
        Copyright &copy;
        <span class='year'>2023</span>
        by TAI BookStore, Inc.
        <p class='m-5'>All rights reserved.</p>
      </p>
    </div>

    <nav class='nav-col'>
      <p class='footer-heading'>Company</p>
      <ul class='footer-nav m-5'>
        <li><a class='footer-link' href='#'>Home</a></li>
        <li><a class='footer-link' href='#'>About Us</a></li>

      </ul>
    </nav>
    <div class='address-col'>
      <p class='footer-heading'>Contact us</p>
      <address class='contacts m-t-5'>
        <p class='address'>
          Mid-Baneshwor-10, Kathmandu
        </p>
        <p class='m-t-5'>
          <a class='footer-link' href='tel:01-4226370'>01-4226370</a><br />
        </p>
      </address>
    </div>
    <nav class='nav-col m-5'>
      <ul class='footer-nav p-10 m-10'>
        <li><a class='footer-link' href='#'>Help center</a></li>
        <li><a class='footer-link' href='#'>Privacy & Terms</a></li>
      </ul>
    </nav>

  </div>
</footer>