<div class='admin-options'>
  <div class='options'>
    <p id='dashboard'>Dashboard</p>
    <button id='btn-books'>Books</button>
    <button id='btn-users'>Users</button>
    <button id='btn-orders'>Orders</button>
  </div>
</div>