:root {
  --back: lightblue;
  --fore: #222;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Times New Roman', Times, serif;
  line-height: 1;
  color: var(--fore);
}

#page-container {
  position: relative;
  min-height: 100vh;
}
.section {
  width: 50%;
  margin: 0 auto;
  margin-top: 30px;
}

.container {
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr 1fr;
  justify-items: center;
}
.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: var(--back);
  height: 50px;
  padding: 0 20px;
}

a {
  text-decoration: none;
  color: var(--fore);
}

.main-nav-list {
  list-style: none;
  display: flex;
  justify-content: start;
  margin-left: 40rem;
  gap: 40px;
}
span {
  font-size: 18px;
}
.main-nav-link:link,
.main-nav-link:visited {
  display: inline-block;
  text-decoration: none;
  color: var(--fore);
  font-size: 18px;
}
.nav-link:link,
.nav-link:visited {
  display: inline-block;
  color: var(--fore);
  font-size: 16px;
}

.div-novel {
  width: 290px;
  height: 350px;
  background-color: rgb(234, 244, 251);
  border: 1px solid rgb(178, 175, 175);
  padding: 15px;
  overflow: hidden;
}

#h1-title {
  text-align: center;
}

#div-img {
  display: flex;
  justify-content: center;
  padding-bottom: 10px;
}
#img-book {
  flex: 1 1 auto;
}

#div-gr {
  display: flex;
  justify-content: space-between;
}

.el-novel {
  color: black;
  margin: 10px;
  font-size: 14px;
}

.p-author {
  margin: 0;
  margin-left: 12px;
  font-weight: bold;
}
.p-genre {
  font-style: italic;
}
.p-price {
  font-weight: bold;
}

.page-controls {
  display: flex;
  justify-content: center;
  margin: auto;
}

button {
  cursor: pointer;
  font-family: inherit;
}
#btn-previous,
#btn-next {
  width: 25px;
  height: 25px;
  border: none;
  margin: 10px;
  background-color: transparent;
}

/* login page */
.container-2 {
  margin: 140px auto;
  display: flex;
  justify-content: center;
  position: relative;
}

.f-space-between {
  display: flex;
  justify-content: space-between;
}
.f-space-even {
  display: flex;
  justify-content: space-evenly;
}
.f-space-around {
  display: flex;
  justify-content: space-around;
}

.f-center {
  margin: 10px;
  display: flex;
  justify-content: center;
}
#form-register,
#form-login {
  background-color: rgb(227, 240, 245);
  padding: 30px;
  position: relative;
}

#email,
#password {
  margin-left: 5px;
}

#btn-login,
#btn-register {
  padding: 5px;
  border: none;
  background-color: rgb(88, 150, 171);
  color: var(--fore);
  border-radius: 5px;
  font-size: 14px;
  font-weight: bold;
}
.p-b-20 {
  padding-bottom: 20px;
}

.footer {
  bottom: 0;
  width: 100%;
  position: absolute;
  padding: 5px 30px;
  background-color: var(--back);
  display: flex;
  justify-content: space-around;
}
.logo-col {
  padding: 10px;
  margin-top: 5px;
}
.m-5 {
  margin: 5px;
}
.m-l-5 {
  margin-left: 5px;
}
.m-10 {
  margin: 10px;
}
.m-t-10 {
  margin-top: 10px;
}
.p-10 {
  padding: 10px;
}

.footer-nav {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.footer-heading {
  font-weight: bold;
  margin-top: 10px;
}

.footer-link:link,
.footer-link:visited {
  text-decoration: none;
}
.m-t-5 {
  margin-top: 5px;
}

.footer-col2 {
  display: flex;
  gap: 100px;
  justify-content: space-between;
}

#a-login,
#a-register {
  text-decoration: underline;
  color: darkblue;
}

.btn-profile {
  border: none;
  outline: none;
  background-color: transparent;
  font-size: 18px;
  color: var(--fore);
}
.dropdown {
  display: none;
  position: absolute;
  background-color: rgb(234, 244, 251);
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
.dropdown a {
  float: none;
  color: var(--fore);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.li-genre:hover .dropdown,
.li-user:hover .dropdown {
  display: block;
}

.dropdown a:hover {
  background-color: rgb(33, 81, 118);
  color: white;
}
