* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Rubik', sans-serif;
  line-height: 1;
  color: #333;
}

#page-container {
  position: relative;
  min-height: 100vh;
}
.section {
  width: 40%;
  margin: 0 auto;
}

.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: lightblue;
  height: 50px;
  padding: 0 20px;
}

a {
  text-decoration: none;
  color: #333;
}

.main-nav-list {
  list-style: none;
  display: flex;
  justify-content: start;
  margin-left: 40rem;
  gap: 40px;
}

.main-nav-link:link,
.main-nav-link:visited {
  display: inline-block;
  text-decoration: none;
  color: #333;
  font-size: 16px;
}

.div-novel {
  margin: 50px;
  width: 500px;
  height: 560px;
  background-color: rgb(234, 244, 251);
  border: 1px solid rgb(178, 175, 175);
  padding: 15px;
  overflow: hidden;
  margin: 15px auto;
}

#h1-title {
  text-align: center;
}

#div-img {
  display: flex;
  justify-content: stretch;
  padding-bottom: 30px;
}
#img-book {
  flex: 1 1 auto;
}

#div-gr {
  display: flex;
  justify-content: space-between;
}

.el-novel {
  color: black;
  margin: 10px;
  font-size: 14px;
}

.p-author {
  margin: 0;
  margin-left: 12px;
  font-weight: bold;
}
.p-genre {
  font-style: italic;
}
.p-price {
  font-weight: bold;
}

.page-controls {
  display: flex;
  justify-content: center;
  margin: auto;
}
#btn-previous,
#btn-next {
  width: 25px;
  height: 25px;
  border: none;
  margin: 10px;
  background-color: transparent;
}

/* login page */
.container-2 {
  margin: 150px auto;
  display: flex;
  justify-content: center;
  position: relative;
}

.f-space-between {
  display: flex;
  justify-content: space-between;
}
.f-center {
  margin: 10px;
  display: flex;
  justify-content: center;
}
#form-register,
#form-login {
  background-color: rgb(227, 240, 245);
  padding: 40px;
}

#email,
#password {
  margin-left: 5px;
}

#btn-login {
  padding: 5px;
  border: none;
  background-color: rgb(88, 150, 171);
  color: #333;
  border-radius: 5px;
  font-size: 14px;
  font-weight: bold;
}
.p-b-20 {
  padding-bottom: 20px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 5px 20px;
  background-color: lightblue;
}
.logo-col {
  padding: 10px;
  margin-top: 10px;
}
.m-5 {
  margin: 5px;
}
.m-l-5 {
  margin-left: 5px;
}
.m-10 {
  margin: 10px;
}
.m-t-10 {
  margin-top: 10px;
}
.p-10 {
  padding: 10px;
}

.footer-nav {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.footer-heading {
  font-weight: bold;
  margin-top: 20px;
}

.footer-link:link,
.footer-link:visited {
  text-decoration: none;
}
.m-t-5 {
  margin-top: 5px;
}

.footer-col2 {
  display: flex;
  gap: 100px;
  justify-content: space-between;
}

#a-login,
#a-register {
  text-decoration: underline;
  color: darkblue;
}
