* {
  font-family: 'Times New Roman', Times, serif;
}
body {
  margin: 0;
  padding: 0;
}
#base {
  display: flex;
  justify-content: center;
  /* position: relative; */

  /* min-height: 100vh; */
}
/* #footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem; /* Footer height
} */
h1 {
  text-align: center;
  margin-bottom: 60px;
}
#container {
  margin: 10px;
  padding: 10px;
}
/* .container-table {
  overflow: hidden;
  overflow-y: scroll;
  width: 60vw;
  height: 60vh;
} */

#tb-books {
  width: 300px;
  height: 500px;
  /* overflow-y: scroll; */
}
th {
  padding: 5px;
  background-color: lightblue;
  text-align: center;
}
td {
  padding: 5px 10px;
  border: 1px solid grey;
  background-color: azure;
}

#btn-add,
#btn-save,
#btn-cancel {
  background-color: rgb(107, 107, 208);
  padding: 5px;
  color: white;
}

#btn-Delete,
#btn-Update {
  background-color: azure;
  border: none;
  padding: 10px;
}

/* .field {
  border: none;
  background-color: rgb(223, 235, 246);
  width: 200px;
  height: 35px;
} */

#popupform {
  background-color: azure;
  padding: 20px;

  border: 1px dashed black;
}
/* textarea {
  font-family: 'Times New Roman', Times, serif;
} */

#h3-newbook {
  text-align: center;
  margin: 10px 0px 20px 0px;
}
.div-addbooks {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 30px;
  margin: 10px 20px;
  /* padding: 5px; */
}

.div-addbooks > label {
  padding: 5px;
  flex: 0 1 100px;
}
.div-addbooks > input,
.div-addbooks > textarea {
  padding: 5px;
  flex: 1 0 auto;
}

#div-image {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  /* flex: 0 1 auto; */
}
#div-checkcloud {
  display: flex;
  align-items: center;
  gap: 10px;
  flex: 1 0 auto;
}

.div-buttons {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  gap: 15px;
}
button {
  padding: 10px;
}

td {
  overflow: hidden;
}

#td-desc {
  overflow: hidden;
  height: 50px;
}
h3 {
  margin-bottom: 10px;
}
