<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta http-equiv='X-UA-Compatible' content='IE=edge' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>Login Page</title>
    <link rel='stylesheet' href='../css/general.css' />
  </head>
  <body>
  {{>header}}
    <div class='container-2'>

      <form method='post' id='form-login'>
        <h3 class='f-center p-b-20'>
          Log In Your Account
        </h3>
        <div class='f-space-between'>
          <label for='email'>Email</label>
          <input type='email' id='email' name='email' />
        </div>
        <br />
        <div class='f-space-between'>
          <label for='password'>Password</label>
          <input type='password' id='password' name='password' />
        </div>
        <div class='f-center'>
          <input type='submit' id='btn-login' value='Login' />
        </div>
      </form>
    </div>
  {{>footer}}
    <script src='../js/login.js'></script>
  </body>
</html>