<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>404 Not Found</title>
    <link rel="stylesheet" href="../css/general.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
  <div class="container">

  {{>header}}
    <div class="notFound-container">
      <h1>404 Error! Not Found</h1>
      <h3>Resource you are looking for is not available.</h3>
    </div>
  {{>footer}}
  </div>
  <script type="module">
    import {loadNav} from '../js/session.js'
    loadNav()
  </script>
</body>
</html>