<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta http-equiv='X-UA-Compatible' content='IE=edge' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>User Registration</title>
    <link rel="stylesheet" href="../css/general.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>
  <body>
    {{>header}}
    <div class='container-2'>

      <form method='post' id='form-register'>
        <h3 class='f-center p-b-20'>
          Register Your Account
        </h3>
        <div class='f-space-between'>
          <label for='username'>Username</label>
          <input type='text' id='username' name='username' required/>
        </div>
        <div class='f-space-between m-t-10'>
          <label for='email'>Email</label>
          <input type='email' id='email' name='email' required />
        </div>
        <br />
        <div class='f-space-between'>
          <label for='password'>Password</label>
          <input type='password' id='password' name='password' minlength="8" required/>
        </div>
        <div class="f-space-between m-t-10">
          <label for='confirm-password'>Confirm Password</label>
          <input type='password' id='confirm-password' name='confirm-password' minlength="8" required/>
        </div>
        <div class='f-center'>
          <input type='submit' id='btn-register' value='Register' />
        </div>
        <div class="f-center">
        <p class="m-t-10">Existing account? <a href="/user/login" id="a-login"> Login </a></p>
        </div>
      </form>
    </div>
  
    {{>footer}}
    <script type="module" src='../js/register.js'></script>

  </body>
</html>