<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta http-equiv='X-UA-Compatible' content='IE=edge' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>Reset Password</title>
    <link rel='stylesheet' href='../css/general.css' />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>
  <body>
    <div class='container'>
      {{>header}}
      <div class="auth-container">
      <form method='post' id='form-reset'>
        <h3 class='f-center p-b-20'>
          Password Reset
        </h3>
            <br />
        <div class='f-space-between'>
          <label for='password'>Password </label>
          <input type='password' id='password' name='password' minlength="8" required/>
        </div>
        <div class="f-space-between m-t-10">
          <label for='confirm-password'>Confirm Password </label>&nbsp;&nbsp;
          <input type='password' id='confirm-password' name='confirm-password' minlength="8" required/>
        </div>
        <div class='f-center m-15 p-10'>
          <input type='submit' id='btn-confirm' value='Confirm' />
        </div>
       
      </form>
      </div>
    {{>footer}}
    </div>
    <script type="module" src='../js/reset.js'></script>
  </body>
</html>