<html>
  <head>
    <title>Thanks for your order!</title>
    <style>

      .section{ position: absolute; font-size: 18px; width: 500px; height:
      300px; top: 50%; left: 50%; transform:translate(-50%,-100%) !important; }
    </style>
  </head>
  <body>
    <section class='section'>
      <h1>
        Payment Successful! You order is on way.
      </h1>

      <p>
        We appreciate your business! If you have any questions, contact us at
        <b>
          bookstore@tai.com</b>.
      </p>
      <p style='text-align: center;'>
        <b>Back to
          <a href='http://localhost:8000'>Homepage</a>
        </b>
      </p>
    </section>
  </body>
</html>